/*Limpando formatação padrão*/
*{
	margin:0;
	padding: 0;
}

body{
	font:1em;
	font-family: 'Lexend Zetta', Helvética sans-serif;
	background:#e6e6e6;
	width:100%;
}

/*Menu*/

#cabecalho{
	background: #f5b600;
	padding:15px;
	text-align:center;
}

#logo, #menu {
	padding:10px;
}


/*Formatando links*/

a.link-menu:link, a.link-menu:visited{
	color:#FFF;
	padding:8px 12px; /*esse comando nao funciona com seletor "a"*/	

}
a.link-menu:hover{
	color:#f5b600;
	background:#FFF;
}

/*---------------------------*/

a.link-vejamais:link, a.link-vejamais:visited{
	color:#f5b600;
}
a.link-vejamais:hover{
	text-decoration:underline;
	
}

/*Layout do conteudo da página*/

#conteudo{
	width:1200px;
	margin:15px auto;
}

#conteudo-principal{
	width:720px;
	float: left;
}


#conteudo-lateral{
	width:440px;
	float:right;
}


/*Layout do conteudo principal*/

.posts{
	padding:20px;
	margin-bottom: 20px;
	background:white;
}


/*Layout do conteudo lateral*/

/*		Sets da div unidade do conteudo lateral*/



.paginas-mais-visualizadas, .posts-recentes, .pesquisar-posts, .sugira-posts, .redes-sociais, .equipe-tecblog, .receba-posts, .anucio-cursos-tecblog{
	margin-bottom: 40px;
	background:white;
	padding: 10px;
}

/*		Layout do post recentes e páginas mais visualizadas*/



ul#posts-recentes li, ul#paginas-mais-visualizadas li{
	margin:8px 0px;
	border-bottom:2px solid #CCC;
	padding: 5px;
	font-weight: bold;
}
a.link-posts-recentes:link, a.link-posts-recentes:visited, a.link-paginas-mais-visualizadas:link, a.link-paginas-mais-visualizadas:visited{
	text-decoration:none;
	color: #565656;
}

/*		Layout da pesquisa e sugestão de posts*/


#tpesquisar-posts{
	background: #CCC url("../_imagens/iten-busca.png") no-repeat 97% center;
	background-size: 5%;
	padding: 10px;
	display:block;
	width:400px;
	margin:20px auto;
	border:none;
	font-size: 1em;
}

.link-sugira-posts{
	display:block;
}

a.link-sugira-posts:link, a.link-sugira-posts:visited{
	color:#f7b600;
	font-weight: bold;
	text-align:center;
	padding:15px 12px;
}

/*		Layout de Contato Redes Sociais*/

#redes-sociais{
	padding:10px;
	text-align: center;
	
}
#redes-sociais li{
	padding: 10px 10px;
	display: inline-block;
	
	
}

	
/*		Layout Equipe TecBlog*/

.equipe-tecblog-integrantes{
	padding: 20px;
	
}

.foto-integrantes-equipe{
	float:left;
	
}

.nome-funcao{
	float:right;
	text-align: left;
	margin-right: 50px;
}

ul.redes-sociais-equipe-tecblog li{
	padding:10px; 
	display: inline;

}

#veja-equipe-completa-tec-blog{
	text-align: center;
	border-bottom: 1px solid #f5b600;
}

#veja-equipe-completa-tec-blog a:link, #veja-equipe-completa-tec-blog a:visited{
	color:#f5b600;
	font-size:1em;

}

/*		Layout Receba Posts*/

.receba-posts input{
	padding: 15px;
	display: block;
	font-size: 1.5em;
	margin:15px auto;
	width:90%;

}

.receba-posts p{
	text-indent: 0px;
	text-align: center;
	padding: 10px;
	font-size: 1em;
}

.receba-posts h3, input[type=submit]{
	background:#FF8C00;
	font-size:1.5em;
	color: white; 
}

/*Formatação Anuncios Cursos*/

.anucio-cursos-tecblog{

}

.anucio-cursos-tecblog img{
	
	display: block;
	margin:10px auto;
	width: 350px;
	}

.cursos-tecblog{
	position: relative;
	padding: 10px;
	margin:10px auto;
	background:rgba(220,220,220,.2);
	border:1px solid rgba(220,220,220,.8);
	border-radius: 5px;
}
.anucio-cursos-tecblog figcaption{
	width: 100%; height: 100%;
	text-transform: uppercase;
	font-size:1.5em; 
	display: block;
	position: absolute;
	top:0px; left:0px;
	background:rgba(220,220,220);
	opacity:0;
	transition: opacity 1.3s;
}

.cursos-tecblog:hover figcaption{
	opacity: 0.7;
}

.anucio-cursos-tecblog figcaption h3{
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	top:30%;
	position:absolute;
	border-bottom: 0px;
}



/*Fornatações em gerais*/
p{
	margin:10px 0;
	text-align: justify;

}

.limpa-float{
	clear:both;
	opacity: 0;
}

a {
	text-decoration:none;

}

input:focus {
	outline: none;

}

h1{
	color:#4e4e4e;
	font-size:2.5em;
}

h2{
	color:#f7b600;
}

h3{
	font-size:1em;
	color: #565656;
	border-bottom:2px solid grey;
	padding:10px;
	text-align: center;
}

h4,h5{
	padding:8px;
}
div.posts img{
	width:680px;
}

.branco{
	color:white;
}

.laranja-negrito{
	color:orange;
	font-weight:bold;
}
.data-postagem{
	display:block;
	font:0.8em;
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.texto-lateral{
	font-size: 0.8em;
	padding:5px;

}


